<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>CrispyBits &ndash; Tasty nuggets of technical goodness, half-baked to perfection</title>
  </head>

  <body>
    <div class="grid-container full">
      <header>
        <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle="main-nav"></button>
          <div class="title-bar-title">CrispyBits</div>
        </div>

        <div class="grid-x" id="main-nav">
          <nav class="cell medium-auto">
            <ul class="medium-align-right menu vertical medium-horizontal">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Code</a></li>
              <li><a href="#">Music</a></li>
            </ul>
          </nav>
          <div class="cell medium-shrink logo-cell">
            <img class="logo" src="https://www.placehold.it/150"/>
          </div>
          <nav class="cell medium-auto">
            <ul class="menu vertical medium-horizontal">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>

      <div class="grid-x">
        <div class="cell">
          <img class="hero" src="https://www.placehold.it/150x50/DDFFDD"/>
        </div>
      </div>
    </header>

      {{ content }}
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="scripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
