<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CrispyBits &ndash; Tasty nuggets of technical goodness, half-baked to perfection</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body>
    {{ content }}

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="scripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
