<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CrispyBits &ndash; Tasty nuggets of technical goodness, half-baked to perfection</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body>
    <div class="grid-x align-center">
      <div class="cell shrink">
        |
      </div>
    </div>

    <div class="grid-container full">
      <nav class="grid-x">
        <ul class="menu vertical medium-horizontal cell medium-auto medium-align-right">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Music</a></li>
        </ul>
        <div class="cell medium-shrink logo-cell">
          <img class="logo" src="https://www.placehold.it/150"/>
        </div>
        <ul class="menu vertical medium-horizontal cell medium-auto">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      <div class="grid-x">
        <div class="cell">
          <img class="hero" src="https://www.placehold.it/150x50/DDFFDD"/>
        </div>
      </div>

      {{ content }}
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="scripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
