@import 'settings';
@import 'foundation';

@include foundation-everything;

.menu.medium-align-right {
    @include breakpoint( medium ) {
        @include flex-align( right );
    }
}

#main-nav {
    background: #FFDDDD;
}

.logo-cell {
    height: 0;

    @include show-for( medium );
}

.logo {
    position: relative;
    display: inline-block;
    top: 20px;
}

.hero {
    width: 100%;
}
